.content-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.top-help-text {
  max-width: 400px;
  margin: 20px auto;
}

.credit-card-images {
  text-align: center;
}

.credit-card-images img {
  max-width: 48px;
  margin-right: 10px;
}

.site-logo {
  margin-top: 20px;
  max-width: 200px;
}

.ecommpay-logo {
  max-width: 192px;
}