.content-wrapper {
  max-width: 600px;
  margin: 0 auto;
}


.credit-card-images {
  text-align: center;
}

.credit-card-images img {
  max-width: 48px;
  margin-right: 10px;
}

.site-logo {
  max-width: 200px;
}

.ecommpay-logo {
  max-width: 192px;
}